.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0.25;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-right: 1px solid lightgray;
  background-color: #ededed;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__search {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchcontainer {
  display: flex;
  align-items: center;

  background-color: white;
  height: 35px;
  padding: 10px;
  border-radius: 20px;
}

.sidebar__searchcontainer > input {
  border: none;
  outline-width: 0;
  width: 350px;
  margin-left: 10px;
}

.sidebar__chats {
  flex: 1;
  overflow: scroll;
  background-color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
    
}

::-webkit-scrollbar-thumb{

  background: #c1c1c1;
}
